header{
	position: absolute;
	top:0;
	left:0;
	width:100%
	
}

.main-menu-area{}
.logo{margin-top:18px;}
.logo a {
    color: #fff;
    display: inline-block;
	font-size:30px;
    font-weight: 700;
    text-transform: uppercase;
}


.main-menu{}
.main-menu ul{}
.main-menu ul li {
    display: inline-block;
}
.main-menu ul li a {
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 30px 20px;
    text-transform: uppercase;
}

.single-slider{height:100vh}
.slider-title{display:table;height:100%;text-align:center;width:100%}
.table-cell{display:table-cell;vertical-align:middle;}
.table-cell h2{color:#fff;font-weight:500;text-transform:uppercase;}
.table-cell p{color:#fff;}
